*
!.*
.oh-my-zsh/*
.ssh/*
*history
.*authority
.RData
.dircolors
.dmrc
.gksu.lock
.ocamlinit
.oh-my-zsh/.gitignore
.sudo_as_admin_successful
.vim/.netrwhist
.viminfo
.wget-hsts
.xsession-errors*
.z
.zcompdump
.zcompdump-Dylan-Ubuntu-5.2
.zsh-update
